@font-face{
        font-family: "Mintreg";
        src: url(/Test_mel/fonts/MintSansRegular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a;
    overflow: hidden;
    min-height: 100vh;
    color: aliceblue;
}

li {
   list-style: none;
   color: aliceblue;
}

a {
   font-family: "Mintreg";
    text-decoration: none;
   color: aliceblue;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px;
    align-items: center;
    cursor: pointer;
    font-family: Mintreg;
}

nav ul li a:hover {
    text-decoration: underline white 2px;
    color: #615f5f;
    transition: 0.5s;
}

.svg {
    display: flex;
    align-items: center;
    background-color: #1a1a1a;
    border: none;
    width: 45px;
    height: 45px;
}

.apps {
    width: 40px;
    height: 40px;
    text-align: center;
    margin-top: -25px;
}

.mid {
    width: 18%;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 160px;
    /*border: 1px solid red;*/
}

.container .form-group {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.container .form-group input {
    width: 100%;
    margin-top: 10px;
    color:aliceblue;
    padding: 12px;
    border: 1px solid #5f6368;
    border-radius: 40px;
    outline: none;
    background-color: #1a1a1a
}

.container .form-group input:hover, 
.container .form-group input:focus {
    transition: 0.5s;
    background-color: #5f6368;
}

.container .form-group label .image {
    float: right;
    margin-top: -35px;
    margin-right: 15px;
    cursor: pointer;
}

.container .form-group label .micro{
    float: left;
    margin-top: -33px;
    margin-left: 15px;
    cursor: pointer;
}

.form-group .camera {
    cursor: pointer;
    margin-top: 3px;
}

.buttons {
    margin-top: 25px;
}

.buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 15px;
    color: white;
    background-color: #5f6368;
    transition: box-shadow 0.3s;
}

.buttons button:hover {

    border: 2px solid #615f5f;
    box-shadow: 1px 7px 2px rgba(184,184,184,1);
    box-shadow: 1px -1px 7px 2px rgba(184,184,184,1);
    box-shadow: 1px -1px 7px 2px rgba(184,184,184,1);
    border:none;

}

.pays{
    font-family: Mintreg;
    color: aliceblue;
}

.footer {
    background-color: #615f5f;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
    padding: 1px;
    position: absolute;
    bottom: 0;
}

.footer-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.footer-left ul {
    display: flex;
    align-items: center;
    padding: 10px;
}

.footer-left li {
    margin: 10px;
    padding: 5px;
    margin-left: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.footer-right ul {
    display: flex;
}

.footer-right li {
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*@media screen and (max-width: 1280px) { 
    #container {
        width: 800px;
    }

    #container .mid{
        font-size: 2em;
    }
    
    #container .form-group{
        width: 12%;
    }
    
    container .buttons {
        font-size: 1.2em;
    }
}*/